@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #fff;
    --secondary-color: #061028;
    --accent1-color: #8f8073;
    --accent2-color: #eae6e5;
  
    --heading-font: '______', serif;
    --paragraph-font: '______', serif;
  
    --nav-background-color: #eae6e5;
    --nav-link-color: #8fcb9b;
    --nav-hover-link-color: #12130f;
    --nav-hover-background-color: #5b9279;
  }

body {
    font-family: sans-serif;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-style: normal;

   /*  font-family: var(--paragraph-font); */
    max-width: 1200px;
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}


h1, h2, h3, h4, h5 {
    font-family: var(--heading-font);
    color: var(--secondary-color);

}

h4 {
    font-size: 22px;
}


header {
    padding: 10px; 
	margin: 1rem 0;
	display: grid;
	grid-template-columns: 1fr 3fr;
	border-bottom: 10px solid #0b0a0a64;
	max-width: 1000px;
    background-color: steelblue;
    height: 60px;
    justify-content: space-between;
}

section img {
    width: 300px;
    height: auto;
    border: 1px solid steelblue;
    padding: 0;
    box-shadow: 0 0 30px gray;
}

section h2 {
    display: grid;
    text-align: center;
    align-items: center;
}

h2 {
    color: steelblue;
    align-items: center;
    margin-top: 10px;
    padding-top: 5px;
}

h3 {
    color: rgb(5, 35, 60);
    align-items: center;
    text-align: center;
}


nav a:link, nav a:visited {
    color: var(--nav-hover-link-color);

}

.navigation {
	display: flex;
	list-style: none;
    color: #fff;
    justify-content: space-evenly;}

nav .navigation {
	flex: 1 2  100%;
	font-weight: 700;
    font-size: 1.2rem;
    justify-content: space-evenly;

}

nav .navigation a {
	display: flex;
    color: #eae6e5;
    font-weight: 700;
	padding: 0 10px 10px 10px;
	text-decoration: none;
    align-self: flex-end;
    width: 100px;
}

.navigation a:hover {
	color: tomato;
	font-weight: 700;
	text-decoration: underline;
}

main {
    max-width: 960px;  
    padding: 0 0 5px 5px;
}
main h1 {
    position: absolute;
    top: 25px;
    left: 80px;
    color: rgb(235, 240, 245);
    font-size: 30px;
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.59);
    padding: 5px 200px 5px 200px;
}
p {
    padding: 25px;
}

.hero {
    position: relative;
    padding-top: 10px;
    padding: 10px 40px 10px 40px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

#contact-image {
    width: 100%;
    height: 250px;
}
article {
    background-color: rgba(17, 14, 84, 0.819);
    max-width: 600px;
    height: auto;
    position: absolute;
    top: 80px;
    left: 120px;
    margin: 1rem;
    color: aliceblue;

}

.hero article img {
    width: 100px;
    height: auto;
    border: 1px solid steelblue;
    float: right;
    margin: 1rem;
    padding: 4px;
}

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
    
}


.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 100px;
	height: auto; 
}

h1 {
	font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
}

header, .grid, footer {
    max-width: 1050px;
    margin: 0 auto;
}

.header_grid {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.grid {
    display: grid;
    align-items: center;
    background-color: #ddd;
    box-shadow: 0 0 30px gray;
   
    
    
}

.logo-box {
	margin: 0 0.2rem 0 1rem;
	width: 100px;
	height: 50px;
    grid-column: 1/3;
    padding-top: 0;
}



nav {
    grid-column: 3/5; 
    padding: 2px;
    color: #fff;
}

.logo-box img {
    width: 60px;
    padding-top: 0;
    margin-top: 0;
}

.history {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    width: 100%;
    justify-content:flex-start;
    margin: 0;
    padding-top: 10px;
    grid-gap: 20px;

   /* align-items: center; */
}

.hitory_items {
    /*width: 30% 30% 30%; */
    width: 95%;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 10px gray;
    justify-content: center;
    justify-self: center;
}

.hitory_items img {
    display: block;
    width: 90%;
    height: auto;
    padding: 10px;
}

.adventure_class {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 5px;
    padding: 5px;
}

.adventure_class-item {
    border: 1px solid black;
    padding: 2px;
    font-size: 20px;
    text-align: center;
}


.adventure_class img {
    width: 120px;
    height: 100px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
    padding:  20px;
}

.footer-grid-item {
    border: 1px solid black;
    padding: 2px;
    font-size: 20px;
    text-align: center;
}


.footer-grid-item p {
    display: block;
    padding: 2px;
    font-size: 20px;
    text-align: center;
}

.footer-grid-item img {
    width: 40px;
}

.history-header {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: steelblue;
}

.history-header h2 {
    color: #fff;
    align-items: center;
}

/* Contact page CSS stars here */

.contact-header {
    display: block;
    text-align: center;
    padding: 0;
    background-color: steelblue;
}

.contact-header h2 {
    color: #fff;
    align-items: center;
    font-size: 2rem;
    padding: 8px;
    
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding:  20px;
}

.contact-grid h2 {
    margin: .5rem;
    font-size: 1.2em;
    color: navy;
    text-align: center;
}

.contact-grid-item {
   /* border: 1px solid black; */
    padding: 2px;
    font-size: 20px;
    text-align: center;
}


.contact-grid-item p {
    display: block;
    padding: 2px;
    font-size: 20px;
    text-align: center;
}

.contact-grid-item img {
    width: 400px;
    height: 170px;
}

.contact-adress-card {
    display: block;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background-color: #eee;
   /* box-shadow: 0 0 30px #595252; */
    box-shadow: 0 0 25px 0 rgba(205.5, 205.5, 205.5, .5);;
    margin: 10px 0 20px 0;
}

.contact-adress-card h2 {
    padding: 5px 0 20px 5px;
    margin: auto;
}

.contact-adress-card p {
    padding: 5px 0 5px 5px;
    margin: auto;
}

.map-class{
    display: grid;
    width: 800px;
    margin: 2px 100px 30px 100px;
    padding: 0;
}

h2 {
    text-align: center;
}

/* Contact form CSS style stars here */

/* form CSS starts here */
form {
    width: 550px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

label, input, button, select, textarea {
   font-family: "Open Sans", sans-serif roboto;
}

label {
    text-align: left;
    padding-right: .4rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: 0.75rem;
}

button:hover {
    background-color: darkgreen;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}


/* Staff in contact page style */

.staff-class {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 30px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.staff-class-item {
   /* border: 1px solid black; */
    padding: 5px;
    font-size: 20px;
    text-align: center;
    padding-top: 0;
}


.staff-class img {
    width: 100%;
    height: 170px;
    border-radius: 20px;
}

figcaption {
    font-size: 12px;
    margin: 0 2px;
    padding: 0;
}

.staff-class-item p {
    padding: 0;
    font-size: 1rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* buy now page */
.buy-now-grid {
    display: grid;
   /* grid-template-columns: 4fr 1fr; */
    grid-gap: 20px;
    padding:  20px;
    border-bottom: 2px dotted steelblue;
}

.buy-now-grid h2{
    margin: 0;
    padding: 5px;

}

.buy-now-grid-item {
    padding: 2px;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
}


.buy-now-grid-item p {
    display: block;
    padding: 2px 160px;
    font-size: 16px;
    text-align: center;
}

.buy-now-grid-item img {
    width: 40px;
}




.byu_now_button {

    margin:0 1rem 1rem;
    background-color: steelblue;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    background-color: darkgreen;
    width: 50%;

}

/* product in contact page style */

.products-class {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2px;
    padding: 2px 20px;
    justify-content: center;
    align-items: center;
    margin-left: -0.5rem;
    border-bottom: 2px dotted steelblue;
   /* border-top: 2px dotted steelblue; */
  
}

.products-class-item {
   /* border: 1px solid black; */
    padding: 0;
    font-size: 20px;
    text-align: center;
    padding-top: 0;
}


.products-class img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

/*figcaption {
    font-size: 12px;
    margin: 0 2px;
    padding: 0;
} */

.products-class-item p {
    padding: 0;
    font-size: 1rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.products-class h2 {
    border-top: 2px dotted steelblue;

}


/* product two in contact page style */

.product-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    margin: 0 150px;
}

.product-two-item {
   /* border: 1px solid black; */
    padding: 5px;
    font-size: 20px;
    text-align: center;
    padding-top: 0;
}


.product-two img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

figcaption {
    font-size: 12px;
    margin: 0 2px;
    padding: 0;
}

.product-two-item p {
    padding: 0;
    font-size: 1rem;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

